*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'SamsungOne',arial,sans-serif;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 7.9rem;
    height: auto;
    margin-bottom: 0;
    
}


#navbar{
    justify-content: center;
    align-items: center;
}

.groupmain{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6rem;
    
}

.textmenu{
    display: flex;
    gap:4rem;
}

.menu{
    font-size: 14px;
    font-weight: 450;
    gap:1.25rem;
    display: flex;
    font-weight: 600;
    list-style: none;
}

.icons{
    display: flex;
    gap:1.5rem;
}

.ri-arrow-right-up-line{
    margin-left: 0;
    padding-left: 0;
}
#setores-de-produtos{
    margin:35px;
}
#setores-de-produtos-int{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.setorclass, img{
    width: 82px;
}
.setorclass{
   display: flex;
   flex-direction: column;
   width: 125px;
   text-align: center;
   font-size: 14px;
   font-weight: 600;
   align-items: center;
   gap: 1rem;
}