
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
}

.logo{
    width: 7.9rem;
    height: auto;
    margin-bottom: 0;
    
}


#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80px;
    width: 100vw;
    
}

.groupmain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6rem;
    
}

.textmenu{
    display: flex;
    gap:4rem;
}

.menu{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    gap:1.25rem;
    display: flex;
    font-weight: 450;
    list-style: none;
}

.icons{
    display: flex;
    gap:1.5rem;
}

.ri-arrow-right-up-line{
    margin-left: 0;
    padding-left: 0;
}


/*estilização do primeiro carousel*/
#first_carousel{
    top:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1E90FF;
    height: 50px;
    width: 100vw;
    position:absolute;
    overflow: hidden;
    margin-top: 9px;
}

#groupcarousel{
    width: 400%;
    height: 45px;
    display: flex;
}

.text_carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 25%;
    height: 45px;
    font-weight: 700;
    color: aliceblue;
    font-size: 14px;
}
/*estilização do primeiro carousel*/

#setores-de-produtos{
    margin:65px;
}
#setores-de-produtos-int{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.setorclass, img{
    width: 82px;
}
.setorclass{
   display: flex;
   flex-direction: column;
   width: 125px;
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   font-weight: 600;
   align-items: center;
   gap: 1rem;
}

/*estilizaçao do segundo carousel*/
#secondcarousel{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1450px;
    height: 350px;
    overflow: hidden;
    position: absolute;
}

#slider{
   width: 400%; /*cada slide ocupará 100% do elemento pai, nesse caso eu tenho que somar o valor ocupado por todos os slides, que resulta em 400%, já que temos 4 slides, mas, pode adicionar mais 100% a esses 400%, pra grantir uma margem extra(opcional)*/
   height: 100%;
   display: flex;
   
}

input{
    display:none;

}

.slide_first, .slide{
width:25%; /*representa 25% de todo elemento pai, o pai tem 400%. Isso significa que cada imagem terá 100% de largura*/
transition: .6s;
position:relative;
}

.tituloProduto{
    position: absolute;
    margin: 50px;
    color: white;
    margin-bottom: 15px;
    display: flex;
    gap:0.9rem;
    flex-direction:column ;
}

.geladeira{
right: 0px;

}

button{
    width: 135px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
}

button span{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    
}


.galaxy{
    color:black;
}
.galaxy button{
    background-color: black;
    color: aliceblue;
}
.geladeira button{
    background-color: black;
    color: aliceblue;
}

.geladeira{
    color: black;
}

.titulo{
    font-size: 40px;
    font-weight: 600;
}

.imagessecondcarousel{
    width: 100%;
    height: 100%;
    

}

.info_navigation{
position: absolute;
bottom:30px;
left: 50%;
transform: translate(-50%);
display:flex;
gap:1.8rem;
}



.info_button{
    width: 138px;
    height: 25px;
    padding:10px;
    background:transparent;
    cursor: pointer;
    transition: 1s;
  
}

.navigation_auto{
    position: absolute;
    bottom:50px;
    left: 50%;
    transform: translate(-50%);
    display:flex;
    gap:2rem; 
}

.buttonleg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}


.buttonleg p{
    margin-bottom:5px;
}

.button{
    width: 155px;
    padding:0.8px;
    background-color: rgba(243, 243, 243, 0.465);
    cursor: pointer;
    transition: 1s;
}

#radio1:checked ~ .first{
    margin: 0;
    
}

#radio2:checked ~ .first{
    margin-left: -25%
    
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}


/*estilizaçao do segundo carousel*/

