
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 7.9rem;
    height: auto;
    margin-bottom: 0;
    
}


#navbar{
    justify-content: center;
    align-items: center;
}

.groupmain{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6rem;
    
}

.textmenu{
    display: flex;
    gap:4rem;
}

.menu{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    gap:1.25rem;
    display: flex;
    font-weight: 450;
    list-style: none;
}

.icons{
    display: flex;
    gap:1.5rem;
}

.ri-arrow-right-up-line{
    margin-left: 0;
    padding-left: 0;
}

#first_carousel{
    display:flex;
    align-items: center;
    justify-content: center;
}

.text_carousel{
    font-weight: 700;
}

#setores-de-produtos{
    margin:35px;
}
#setores-de-produtos-int{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.setorclass, img{
    width: 82px;
}
.setorclass{
   display: flex;
   flex-direction: column;
   width: 125px;
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   font-weight: 600;
   align-items: center;
   gap: 1rem;
}

#secondcarousel{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imagessecondcarousel{
    width: 1450px;
}